<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2DPf3sDlfl7KNnx82Gn8Ky6urLhMSIxE</string>
	<key>GCM_SENDER_ID</key>
	<string>678538988908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.derek.memolens</string>
	<key>PROJECT_ID</key>
	<string>memories-through-lenses</string>
	<key>STORAGE_BUCKET</key>
	<string>memories-through-lenses.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678538988908:ios:0b204c5f0f3fdaa5fdf749</string>
</dict>
</plist>